body {
    max-width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
}
main {
    width: 80vw;
    min-height: 50vh;
    margin: 0 auto;
}
header {
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.7;
    background-color: rgba(91, 219, 89, 0.2);
}
header h1 {
    color:brown;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 80vw;
    margin: 0;
    padding: 0.5em;
    z-index: 100;
}
header h1 .lead { font-size: 60%; }
header h1 .lead::before {
    content: "\A";
    white-space: pre;
}
nav {
    background: linear-gradient(to bottom, transparent 70%, rgba(124, 125, 137, 0.4) 100%);
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 75vw;
    height: 100%;
    overflow: hidden;
    margin: 0;
}
nav ul li {
    min-width: 100px;
    min-height: 2em;
    margin: 0 4px;
    padding: 4px;
    list-style: none;
    background: rgba(91, 219, 89, 0.404);
}
article {
    max-width: 70vw;
    opacity: 0.2;
}
article img {
    box-shadow: 2px 2px 4px 1px #29627e;
}
aside {
    min-width: 10%;
    max-width: 20%;
    margin-bottom: 1em;
    font-size: smaller;
    box-shadow: inset 5px 0 5px -5px #29627e;
}
aside section {
    padding: 0 1em;
}
aside ul, aside p {
    background: lightyellow;
}
footer {
    position: fixed;
    bottom: 0;
    text-align: right;
    display: flex;
    width: 100%;
    background: silver;
    margin-top: 3em;
    padding: 0;
    font-size: 80%;
    opacity: 0.7;
}
footer .box {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95%;
}
footer .box p {
    margin: 0;
    padding: 10px 1em;
}
.hidden { display: none; }
.pagination {
    opacity: 0.9;
    display: flex;
}
.pagination li {
    list-style: none;
    border: dashed 2px silver;
    padding: 3px;
    margin: 4px;
}
.empty { border: dashed 2px #999; }
.note { font-size: 80%; }
.note::before {
    content: "⚠";
}
.float {
    position: fixed;
    left: auto;
    bottom: 0%;
    max-width: 38em;
    padding: 0;
    margin: 0;
}
#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
