{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ja_JP">
    <meta property="article:author" content="naoto">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" />
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
  </head>
  <body>
    <div id="map"></div>
    <main id="container">
      <header class="article-header">
        {% block header %}{% endblock %}
        <nav>
          <ul class="box nav">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href={% url 'admin:index' %} class="btn">🧑‍💻コンテンツ管理用サイト</a></li>
            <li class="nav-item"><a class="nav-link" href={% url 'admin:logout' %} class="btn">🏃🏻ログアウト</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href={% url 'accounts:signup' %} class="btn">🕺🏻サインアップ</a></li>
            <li class="nav-item"><a class="nav-link" href={% url 'admin:login' %} class="btn">🧘登録済みの方はログイン</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
      <article>
        {% block content %}{% endblock %}
      </article>
    </main>
    <footer id="footer">
      <div class="box">
        <p>by naoto</p>
      </div>
    </footer>
  </body>
</html>
