{% extends 'base.html' %}
{% load static %}
{% block title %}VSDB | HOME{% endblock %}
{% block header %}
<h1>VSDB<span class="lead">HOME</span></h1>
{% endblock %}
{% block contents %}
<p>
    <a href="{% url 'complex:index' %}admin/" class="btn">admin</a>
</p>
{% if user.is_authenticated %}
<p>
    <a href="{% url 'admin:logout' %}" class="btn">ログアウト</a>
</p>
{% else %}
<p>
    <a href="{% url 'accounts:signup' %}" class="btn">今すぐサインアップ</a>
</p>
<p>
    <a href="{% url 'admin:login' %}" class="btn">登録済みの方はログイン</a>
</p>
{% endif %}
</p>
{% for record in orderby_records %}
<h2><a href={% url "complex:page" record.id %}>{{ record.title }}</a></h2>
{% endfor %}
{% endblock %}
