{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_list %}
{% block title %}Sign up{% endblock %}
{% block content %}
<div id="content-main" class="container">
  <h3>サインアップ</h3>
  <form method="post">
    {% csrf_token %} {% for field in form %}
    <p>
      {{ field.label_tag }}<br />
      {{ field }} {% if field.help_text %}
      <span style="color: grey">{{ field.help_text }}</span>
      {% endif %} {% for error in field.errors %}
      <span style="color: red">{{ error }}</span><br />
      {% endfor %}
    </p>
    {% endfor %}
    <p style="color: red">
      ※メールアドレスはパスワードをリセットする際に必要になりますので、
      登録をお願いします。
    </p>
    <input type="submit" value="Sign up" />
  </form>
  <p>
    <a href="{% url 'complex:index' %}">登録をやめてトップページに戻る</a>
  </p>
</div>
{% endblock %}
